---
import '@assets/app.css';
import '@fontsource/source-serif-4/400.css';
import '@fontsource/source-sans-3/400.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/node_modules/@fontsource/source-serif-4/files/source-serif-4-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/node_modules/@fontsource/source-sans-3/files/source-sans-3-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
		<meta name="generator" content={Astro.generator} />
		<title>jchou</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-CBPZQMK9JK"></script>
<script is:inline>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-CBPZQMK9JK');
</script>
