---
import '@assets/app.css';
import { Font } from 'astro:assets';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<Font cssVariable="--font-source-serif-4" preload />
		<Font cssVariable="--font-source-sans-3" preload />
		<Font cssVariable="--font-inter" preload />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
		<meta name="generator" content={Astro.generator} />
		<title>jchou</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-CBPZQMK9JK"></script>
<script is:inline>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-CBPZQMK9JK');
</script>
